{% load i18n %} 
{% load static %}
{% load high_charts %}
{% load common_filters %}
{% load tz %}
{% load defer %}
{% block extrahead%}
<style>
td.border-style {
  border-right: 2px dashed lightgrey;
  border-bottom: 1px solid lightgrey;
}
th.border-style {
  border-right: 2px dashed lightgrey;
  border-bottom: 1px solid lightgrey;
}
.muted_bs_color {
    opacity: 50%;
}
.cell-size {
    max-width: 70px;
}
.row-head {
    max-width:100%;
    white-space:nowrap;
}
</style>
{% endblock%}
<div>
    <div class="table-frame">
        <table class="table table-hover">
            <thead>
                <tr>
                    {% for cell in headers %}
                        {% if forloop.counter == 1 %} 
                            <th  class="text-left border-style">{{ cell }}</th>
                        {% else %}
                            <th  class="cell-size text-center border-style">{{ cell }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                        {% if forloop.counter == 1 %} 
                            <td colspan="{{cell.colspan}}" class="{{cell.color_class}} row-head text-left border-style">{{ cell.value }}</td>
                        {% else %}
                            <td colspan="{{cell.colspan}}" class="{{cell.color_class}} text-center border-style">{{ cell.value }}</td>
                        {% endif %}
                    {% endfor %}
                <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
