<div class="action-buttons">
   <div class="no-padding no-margin form-confirm inline">
       <button type="button" class="btn btn-xs remove confirmaction" 
          data-rel="tooltip" 
          data-placement="bottom"  alt="edit"
          onclick="{{ edit }}({{id}})"
          title="edit">
       <i class="fa fa-pencil bigger-130"></i>
       </button>
       <button type="button" class="btn btn-xs btn-danger remove confirmaction" 
          data-rel="tooltip" 
          data-placement="bottom"  alt="delete"
          onclick="{{ remove }}({{id}})"
          title="delete">
       <i class="fa fa-trash-o bigger-130"></i>
       </button>
   </div>
 </div>